{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Create A Blog Post</title>
    <link rel="stylesheet" href="{% static "blog.css" %}">
  </head>
  <body>
    <header>
      <div>My Blog</div>
      <nav>
        <a href="{% url "posts_list" %}">Back to home</a>
      </nav>
    </header>
    <main>
        <h1 class="title">
            Create post:
        </h1>
      <div class="post-form">
        <form class = "post-blog" method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <div>
            <button>Submit</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <div>
        This is my site that contains all of my blog posts.
      </div>
    </footer>
  </body>
</html>