{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Josiah's Blog</title>
        <link rel="stylesheet" href = "{% static "blog.css" %}">
    </head>
    <body>
        <header class="header">
            <div>
                My Blog
            </div>
            <nav>
                <a href="{% url "create_post" %}">Create a post</a>
            </nav>
        </header>
        <main>
            <h1 class = "title">My latest posts :)</h1>
            {% for post in posts %}
                <div class = "main-page-blog">
                    <div class = "post-title">
                        {{ post.title }}
                    </div>
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            {% endfor %}
        </main>
        <footer>
            <p>Copyright 2022 by Josiah Pederson</p>
            <p>This is my blog!</p>
        </footer>
    </body>
</html>