html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

button {
    padding: 5px;
    font-size: 150%;
    color:rgb(122, 104, 81);
}

label {
    display: block;
}

input {
    display: block;
    border: 1px solid burlywood;
}

textarea {
    border: 1px solid burlywood;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
    width: auto;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
}

footer {
    background-color: burlywood;
    margin-top: 12px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-blog {
    background-color: white;
    border-width: 1px; border-style: solid; border-color: burlywood;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

.post-blog {
    background-color: white;
    border-width: 1px; border-style: solid; border-color: burlywood;
    padding: 24px;
    text-align:left;

}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 180%;
    color: rgb(107, 88, 63);
}
.post-title {
    font-weight: bold;
    font-size: 130%;
    color: rgb(107, 88, 63); 
}

.post-form {
    background-color: white;
    padding: 24px;
}